#wrapper, #top_menu {
	z-index: 4;
	min-height: 108px;
	background: #303030;
}
#wrapper {
	margin: 0 auto;
	width: 100%;
	color: white;
	text-transform: uppercase;
}
#logo {
	width: 25%;
	float: left;
	line-height: 100px;
	display: flex;
	margin: 4px 5% 4px 3%;
}
#logo a {
	text-decoration: none;
	font-size: 35px;
	letter-spacing: 5px;
	margin-left: 10px;
}
nav#top_menu_nav {
	float: right;
	line-height: 100px;
	margin-left: 5%;
	text-align: center;
}
nav#top_menu_nav a {
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 25px;
	font-stretch: 12px;
	margin-right: 18px;
}
nav#top_menu_nav a:hover {
	text-decoration: underline;
}