* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.sign {
    padding: 0;
    height: 5%;
    border: 5px;
    border-style: solid;
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    color: #FF9966;
    word-wrap: break-word;
}

#top-sign {
    width: 34%;
}

.line {
    width: 95%;
    margin: auto;
    border-top-width: 3px;
    border-top-style: dashed;
    border-top-color: #000000;
    color: #000000;
}

#body-table tr {
    vertical-align: top;
}

#main-aside {
    text-align: center;
    line-height: 2rem;
    font-size: 1.1em;
    width: 20%;
}

#main-nav {
    text-align: center;
    line-height: 3rem;
    width: 20%;
}

#main-nav a {
    color: black;
    font-size: 1.3em;
}

#main-header {
    padding: 2%;
}

#main-header tr,
#main-footer tr {
    vertical-align: middle;
}

#main-header h1 {
    color: "#666666";
    font-size: 3rem;
}

#top-main-section {
    text-align: center;
    padding: 1rem;
    line-height: 2rem;
    font-size: 1.5rem;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #FF9966;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: #FF9966;
    background-color: #999;
}

#main {
    padding: 2rem;
    font-size: 1.2rem;
}

#main p {
    margin-bottom: 2rem;
    line-height: 1.5rem;
    word-wrap: break-word;
}

#main-footer {
    background-color: #666666;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding: 1rem;
    justify-items: center;
    font-size: 1.2rem;
}

#main-footer h4 {
    padding-bottom: 1rem;
    color: #F96;
}

#main-footer div {
    padding: 2%;
    color: #CCC;
}

@media screen and (max-width: 1000px) {
    table tr {
        display: block;
        max-width: auto;
    }

    table td {
        display: block;
    }

    #top-right-div,
    #main-nav,
    #main-aside {
        width: 100%;
    }

    #main-footer td {
        width: 100%;
    }

    .sign,
    #main-footer div {
        width: 50%;
        margin: auto;
    }

    #top-sign {
        width: 100%;
    }
}

.main-image {
    border: 4px solid #F96;
    width: 100%;
}

#imagebox {
    text-align: center;
}

.imageinfo {
    margin-top: 1.5rem;
}

.main-list {
    margin: 1rem;
}

.main-list>li {
    margin-bottom: 1rem;
}

.mapouter {
    height: 25em;
    border: 4px solid #F96;
}

.gmap_iframe {
    height: 100%;
}