* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#top-content {
    display: flex;
}

#top-right-div {
    width: 100%;
}

header {
    min-height: 10em;
    background-color: aquamarine;
}

nav {
    width: 30%;
    background-color: azure;
}

#top-right-main {
    display: flex;
}

#top-main-info {
    width: 70%;
}

main {
    background-color: gray;
}

aside {
    width: 30%;
    background-color: darkgray;
}

footer {
    min-height: 10em;
    background-color: bisque;
}