* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-auto-rows: minmax(6rem, auto);
    background: linear-gradient(#f1c50e 40%, #0d244b 40%) fixed;
    height: 100%;
}

main {
    display: grid;
    justify-self: center;
    padding: 2rem;
}

header,
article,
nav,
footer {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

header {
    grid-auto-flow: column;
    justify-content: space-around;
    background-color: #fff;
}

article {
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    height: 28rem;
}

article img {
    width: 16rem;
    box-shadow: 0 0 1rem black;
}

.bottom-img {
    margin-top: auto;
}

.top-img {
    margin-bottom: auto;
}

nav {
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
}

.nav-block {
    display: grid;
    width: 15rem;
    background-color: #fff;
    border-radius: 1.3rem;
    justify-items: center;
    text-align: center;
    height: 20rem;
    padding: 1rem;
}

.nav-block a {
    color: #000;
    text-underline-position: under;
    font-weight: lighter;
}

.nav-block em,
.nav-block a {
    color: #555;
}

footer {
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    grid-auto-flow: column;
}

.footer-block {
    width: 60%;
    text-align: center;
}

@media (max-width: 1500px) {

    article,
    nav {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    }
}

@media (max-width: 600px) {

    article,
    nav {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
}